.pagina-veiculo {
  background-color: #242121;
  display: flex;
  height: 100%;
  width: 100%;
  
  #menu {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 159.1vh;
    width: 15vw;
    
  }

  #logo {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  

  #logo img {
    width: 100%;
  }

  #logo span {
    color: #FF7101;
  }

  #menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 10px;
    width: 100%;
    height: 40vh;
  }


  #menu .menu-div {
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 15px;
    width: 100%;
  }

  #menu .menu-div:hover {
    background-color: #8837C7;
  }

  .nav-nome {
    text-align: start;
    width: 6vw;
  }

  #container {
    background-color: rgb(255, 255, 255);
    height: 100%;
  }

  header {
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
    padding: 10px;
    width: 84.5vw;
    height: 7vh;
  }

  header p {
    color: #A79F9F;
  }

  #enunciado {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20vh;
    max-width: 39vw;
    min-width: 38vw;
  }

  #enunciado h1 {
    font-size: 32px;
    text-indent: 50px;
  }

  #enunciado p {
    font-size: 14px;
    color: #CF5B00;
    text-indent: 55px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 132.2vh;
    width: 100%;
  }

  

  #inserir {
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
    border-radius: 3px;
    padding: 30px;
    margin-bottom: 10px;
    width: 75vw;
    
    
  }


  #enunciado-inserir {
    color: #242121;
    text-indent: 7px;
    margin-bottom: 20px;
  }

  .caixa-inserir {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid black;
    padding: 4px;
    margin: 10px;
    width: 20vw;
  }

  label {
    font-size: 12px;
    font-weight: 700;
    color: #747474;
  }

  select:focus {
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
  }

  select {
    font-size: 16px;
    color: #616161;
    border: none;
    width: 19vw;
  }

  input {
    font-size: 16px;
    color: #616161;
    border: none;
    width: 15vw;
  }

  input:focus {
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
  }

  #btn-salvar {
    width: 10.7vw;
    margin-left: 10px;
  }

  #btn-salvar button {
    background-color: #7A14C0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 100px;
    
  }

  #btn-salvar button:hover {
    background-color: #862fc0;

  }

  button {
    cursor: pointer;
  }

  #consulta {
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
    border-radius: 3px;
    padding: 30px;
    margin-top: 10px;
    width: 75vw;
  }

  #consulta > div {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 23vw;
  }

  #enunciado-consulta {
    color: #242121;
    text-align: left;
    margin-bottom: 10px;
    width: 20vw;
  }

  .caixa-consulta {
    font-size: 16px;
    display: flex;
    align-items: start;
    justify-content: center;
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 20px;
    width: 22vw;
  }

  #img-consulta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 6vw;
  }

  #img-consulta button {
    border: none;
  }

  #img-consulta img {
    height: 20px;
  }

  table {
    margin-left: 10px;
    width: 70vw;
    height: 40vh;
  }


  th {
    text-align: start;
    margin-bottom: 10px;

  }

  tbody {
    border-collapse: collapse;
  }

  tr {
    border: 1px solid black;
    margin-bottom: 20px;
  }

  td {
    height: 3vh;
  }

  @media (max-width: 912px) {


    #menu {
      height: 166vh;
      min-width: 135px;
    }

    #menu-nav {
      font-size: 18px;
      width: 20vw;
    }

    header {
      width: 100%;
    }

    main {
      margin-top: 30px;
      padding: 10px 0px 10px 0px;
      width: 100%;
    }

    #enunciado {
      min-width: 910px;
    }

    #enunciado h1 {
      font-size: 36px;
    }

    #enunciado p {
      font-size: 16px;
    }


    main {
      height: 135.2vh;
    }

    

    #inserir {
      width: 90vw;
      min-width: 800px;
    }

    h2 {
      font-size: 25px;
    }

    .caixa-inserir {
      width: 25vw;
      min-width: 155px;
    }

    label {
      font-size: 13px;
    }

    select {
      
      width: 24vw;
    }

    input {
      font-size: 16px;
      padding: 5px;
      width: 20vw;
    }

    #btn-salvar {
      width: 12.7vw;
    }
  
    #btn-salvar button {
      font-size: 16px;
      
    }

    #consulta {
      width: 90vw;
      min-width: 800px;
    }

    #consulta > div {
      width: 26vw;
    }

    #enunciado-consulta {
      width: 25vw;
    }

    .caixa-consulta {
      display: flex;
      justify-content: space-between;
      padding: 2px;
      width: 25vw;
    }

    .caixa-consulta > div {
      display: flex;
      flex-direction: column;
    }

    table {
      width: 84vw;
      min-width: 700px;
    }


  }

  @media (max-width: 785px) {

    #menu {

      width: 30vw;
      min-width: 165px;
      height: 205.8vh;
    }

    #menu-nav {
      font-size: 20px;
      width: 100%;
    }

    #logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 25px;
    }

    


    main {
      margin-top: 10px;
      width: 100%;
      min-width: 580px;
      height: 178vh;
    }

    #inserir {
      width: 107vw;
    }

    .caixa-inserir {
      padding: 8px;
      width: 50vw;
    }

    #enunciado-inserir {
      font-size: 35px;
    }

    label {
      font-size: 16px;
    }

    select {
      width: 46vw;
    }

    input {
      width: 35vw;
      font-size: 25px;
    }

    #btn-salvar {
      width: 18vw;
    }
  
    #btn-salvar button {
      font-size: 20px;
      width: 18vw;
    }

    #consulta {
      width: 107vw;
    }

    #consulta > div {
      width: 51.5vw;
    }

    #enunciado-consulta {
      width: 40vw;
    }

    .caixa-consulta {
      padding: 8px;
      width: 49vw;
    }

    .caixa-consulta input {
      width: 30vw;
    }

    #img-consulta {
      height: 8vh;
    }

    #img-consulta img {
      height: 30px;
    }

    table {
      font-size: 20px;
      width: 9vw;
      min-width: 750px;
    }
  }

  @media (max-width: 580px) {
    #menu {
      display: none;
    }

    #enunciado h1{
      font-size: 40px;
    }

    #inserir {
      width: 80vw;
    }

    #enunciado-inserir {
      font-size: 36px;
    }

    .caixa-inserir {
      width: 75vw;
    }

    label {
      font-size: 18px;
    }

    select {
      width: 73vw;
    }

    input {
      width: 70vw;
    }

    #btn-salvar {
      width: 30vw;
    }

    #btn-salvar button {
      width: 30vw;
      padding: 10px;
    }

    #consulta > div {
      width: 77vw;
    }

    #enunciado-consulta {
      width: 75.6vw;
    }

    .caixa-consulta {
      width: 75vw;
    }
  }

}

