.pagina-config {
  background-color: #565656;
  display: flex;
  height: 100%;
  width: 100%;
  
  

  #container {
    background-color: #565656;
    height: 100%;
    width: 83vw;
  }

  header {
    background-color: #404040;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
    padding: 10px;
    width: 83vw;
    height: 7vh;
  }

  header p {
    color: #A79F9F;
  }

  #enunciado {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 30px 30px 0px;
    margin: 10px;

  }

  #enunciado h1 {
    font-size: 32px;
    text-indent: 5px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  #inserir {
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
    border-radius: 3px;
    padding: 30px;
    margin-bottom: 10px;
    width: 80vw;
    
    
  }


  #enunciado-inserir {
    color: rgb(0, 0, 0);
    font-size: 0.3em;
    text-indent: 7px;
    margin-bottom: 20px;
  }

  #enunciado-inserir h2 {
    font-size: 5.5em;
    text-indent: 9px;
  }

  #area-cadastro {
    display: flex;
  }

  

  form > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 15px;
    width: 45vw;
  }

  #group {
    display: flex;

  }

  #group .caixa-inserir {
    width: 9vw;
  }

  #group input {
    width: 8vw;
  }

  .caixa-descricao {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid black;
    padding: 4px;
    margin: 10px;
    width: 43vw;
  }

  .caixa-descricao input {
    width: 40vw;
  }

  .caixa-inserir {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid black;
    padding: 4px;
    margin: 10px;
    width: 20vw;
  }

  label {
    font-size: 12px;
    font-weight: 700;
    color: #747474;
  }

  select:focus {
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
  }

  select {
    font-size: 16px;
    color: #616161;
    border: none;
    width: 19vw;
  }

  input {
    font-size: 16px;
    color: #616161;
    border: none;
    width: 15vw;
  }

  input:focus {
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
  }

  
  #area-img {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  #img-g {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 4px;
    height: 20vh;
    width: 20vw;
  }

  #imagemVazia{
    height: 70px;
    width: 70px;
  }

  #imagemConteudo {
    height: 100%;
    width: 100%;
  }

  #imagemcapa {
    visibility: hidden;
    position: absolute;
  }

  #img-p > div {
    background-color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    height: 39px;
    width: 39px;
  }



  #btn-duplo {
    display: flex;
    width: 28vw;
  }

  .btn-img button{
    background-color: #333075;
    color: white;
    font-size: 0.83em;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
    width: 125px;
  }

  .btn-img button:hover {
    background-color: #4d4a9e;
    transition: 0.5s;
  }

  #btn-salvar {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-left: 10px;
    height: 10vh;
    width: 26.5vw;
  }

  #btn-salvar button {
    background-color: #333075;
    color: white;
    font-size: 0.85em;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 100px;
    
  }

  #btn-salvar button:hover {
    background-color: #4d4a9e;
    transition: 0.5s;
  }

  button {
    cursor: pointer;
  }

  #consulta {
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
    border-radius: 3px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 80vw;
  }

  #conjunto {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 23vw;
  }

  #enunciado-consulta {
    color: #242121;
    text-align: left;
    margin-bottom: 10px;
    width: 23vw;
  }

  #enunciado-consulta h2 {
    font-size: 1.5em;
    text-indent: 9px;
  }

  .caixa-consulta {
    background-color: white;
    font-size: 16px;
    display: flex;
    align-items: start;
    justify-content: center;
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 20px;
    width: 22vw;
  }

  #img-consulta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 6vw;
  }

  #img-consulta button {
    border: none;
  }

  #img-consulta img {
    height: 20px;
  }

  table {
    border-collapse: collapse;

    margin-left: 10px;
    width: 70vw;
  }


  th {
    text-align: start;
    margin-bottom: 10px;

  }

  tbody {
    margin-top: 10px;
  }

  tbody tr{
    border: 1px solid rgba(71, 70, 70, 0.589);
    padding: 5px;
  }

  .interacao {
    display: flex;
    align-items: end;
    height: 6vh;
  }

  .interacao > div {
    margin: 5px;
  }

  .interacao button {
    background-color: white;
    border: none;
  }

  .td-center {
    text-align: center;
  }

  td > div {
    margin: 5px;
  }

  td img {
    cursor: pointer;
    height: 20px;
    width: 20px;
  }

  #scroll-horizontal { 
    max-height: 300px;
    overflow: auto;
    width: 73vw;
  }
  

  @media (max-width: 912px) {


    #menu {
      height: 166vh;
      min-width: 135px;
    }

    #menu-nav {
      font-size: 18px;
      width: 20vw;
    }

    header {
      width: 100%;
    }

    main {
      margin-top: 30px;
      padding: 10px 0px 10px 0px;
      width: 100%;
    }

    #enunciado {
      min-width: 910px;
    }

    #enunciado h1 {
      font-size: 36px;
    }

    #enunciado p {
      font-size: 16px;
    }


    main {
      height: 135.2vh;
    }

    

    #inserir {
      width: 90vw;
      min-width: 800px;
    }

    h2 {
      font-size: 25px;
    }

    .caixa-inserir {
      width: 25vw;
      min-width: 155px;
    }

    label {
      font-size: 13px;
    }

    select {
      
      width: 24vw;
    }

    input {
      font-size: 16px;
      padding: 5px;
      width: 20vw;
    }

    #btn-salvar {
      width: 12.7vw;
    }
  
    #btn-salvar button {
      font-size: 16px;
      
    }

    #consulta {
      width: 90vw;
      min-width: 800px;
    }

    #consulta > div {
      width: 26vw;
    }

    #enunciado-consulta {
      width: 25vw;
    }

    .caixa-consulta {
      display: flex;
      justify-content: space-between;
      padding: 2px;
      width: 25vw;
    }

    .caixa-consulta > div {
      display: flex;
      flex-direction: column;
    }

    table {
      width: 84vw;
      min-width: 700px;
    }


  }

  @media (max-width: 785px) {

    #menu {

      width: 30vw;
      min-width: 165px;
      height: 205.8vh;
    }

    #menu-nav {
      font-size: 20px;
      width: 100%;
    }

    #logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 25px;
    }

    


    main {
      margin-top: 10px;
      width: 100%;
      min-width: 580px;
      height: 178vh;
    }

    #inserir {
      width: 107vw;
    }

    .caixa-inserir {
      padding: 8px;
      width: 50vw;
    }

    #enunciado-inserir {
      font-size: 35px;
    }

    label {
      font-size: 16px;
    }

    select {
      width: 46vw;
    }

    input {
      width: 35vw;
      font-size: 25px;
    }

    #btn-salvar {
      width: 18vw;
    }
  
    #btn-salvar button {
      font-size: 20px;
      width: 18vw;
    }

    #consulta {
      width: 107vw;
    }

    #consulta > div {
      width: 51.5vw;
    }

    #enunciado-consulta {
      width: 40vw;
    }

    .caixa-consulta {
      padding: 8px;
      width: 49vw;
    }

    .caixa-consulta input {
      width: 30vw;
    }

    #img-consulta {
      height: 8vh;
    }

    #img-consulta img {
      height: 30px;
    }

    table {
      font-size: 20px;
      width: 9vw;
      min-width: 750px;
    }
  }

  @media (max-width: 580px) {
    #menu {
      display: none;
    }

    #enunciado h1{
      font-size: 40px;
    }

    #inserir {
      width: 80vw;
    }

    #enunciado-inserir {
      font-size: 36px;
    }

    .caixa-inserir {
      width: 75vw;
    }

    label {
      font-size: 18px;
    }

    select {
      width: 73vw;
    }

    input {
      width: 70vw;
    }

    #btn-salvar {
      width: 30vw;
    }

    #btn-salvar button {
      width: 30vw;
      padding: 10px;
    }

    #consulta > div {
      width: 77vw;
    }

    #enunciado-consulta {
      width: 75.6vw;
    }

    .caixa-consulta {
      width: 75vw;
    }
  }

}

