#pagina-login {
  background-color: lightgray;
  background-image: url('../../../../public/assets/image/login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;

  header {
    background-color: #020032;
    height: 10vh;
    width: 100%;
  }

  #container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
  }

  main {
    background-color: #222222;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 50vw;
  }

  #enunciado {
    background-color: #020032;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    padding: 10px;
    width: 100%;
  }

  .caixa-senha {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 30px;
    height: 50px;
  }

  label {
    text-indent: 10px;
    margin-bottom: 3px;
  }

  input {
    font-size: 16px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 40vw;
  }

  input:focus {
    box-shadow: 0;
    outline: 0;
  }

  input::placeholder {
    color: #535353d5;
  }

  #btn-entrar {
    margin-bottom: 20px;

  }

  button {
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    width: 15vw;
  }

  button:hover {
    background-color: lightgray;
  }

  #nav-cadastro {
    padding: 10px;
  }

  #nav-cadastro p {
    color: white;
    text-decoration: none;
  }

  span {
    color: white;
    cursor: pointer;
    text-decoration: none;
    
  }

}